<div class="container">

    <div class="main-login main-center">
       <div class="color-slova">
          <h2 class="card-title mt-2 text-center">Movies</h2>
       </div>
       <div class="title-info">
          <h5>Choose your favorite movie...</h5>
       </div>
       <div class="spacing-bottom accordion accordion-style" id="filmlist">
          <div class="card" *ngFor="let movie of movies">
             <div class="card-header" id="{{'heading' + movie._id}}">
                <h2 class="mb-0">
                   <button class="btn btn-link collapsed" type="button" data-toggle="collapse" attr.data-target="{{'#_' + movie._id}}" aria-expanded="false" attr.aria-controls="{{'_' + movie._id}}">
                   {{movie.title}}
                   </button>
                 </h2>
             </div>
             <div id="{{'_' + movie._id}}" class="collapse" attr.aria-labelledby="{{'heading' + movie._id}}" data-parent="#filmlist">
                <div class="card-body card-body-style">
                   <p> {{movie.description}} <br> </p>
                </div>
             </div>
         </div>
         <pagination *ngIf="count > 10" [disabled]="pag_disabled" [totalItems]="count" [itemsPerPage]="10" (pageChanged)="changePage($event)" [(ngModel)]="currentPage" [rotate]="true" [maxSize]="5" name="c"></pagination>
       </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="err_msg">
           <strong>Error!</strong> while modifying movie.
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <!-- {{/if}} -->
        <!-- {{#if msg}} -->
         <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alrt_msg">
           Successfully added movie.
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
       </div>
       <!-- {{/if}} -->
        <!-- {{#if admin}} -->
        <!-- Button trigger modal -->
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#manageMovies" *ngIf="admin">
                 Add movie
             </button>

             <!-- Modal -->
             <app-add-movie [addtodvd]="false"></app-add-movie>

    </div>
</div>
<br/>
<div class="alert alert-info alert-dismissible fade show mt-5 mx-5" role="alert" *ngIf="error_msg">
  {{error_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<script type="text/javascript" src="javascripts/manageMovies.js"></script>
