<div class="container">
 <div class="main-login main-center">
    <form id="login-form" class="form-signin">
       <div class="color-slova">
          <h2 class="card-title mt-2 text-center">Login</h2>
       </div>
       <div class="input-group flex-nowrap">
          <div class="input-group-prepand">
             <span class="input-group-text"><i class="fas fa-at fa" aria-hidden="true"></i></span>
          </div>
          <input id="email" type="email" class="form-control" [style.borderColor]="border_color" name="email" placeholder="Enter your Email" maxlength="30" [(ngModel)]="user.email" (keyup)="valEmail(user.email)" required/>
       </div>
       <div class="input-group flex-nowrap">
          <div class="input-group-prepand">
             <span class="input-group-text"><i class="fas fa-key fa" aria-hidden="true"></i></span>
          </div>
          <input  id="password" type="password" class="form-control" name="password" [style.borderColor]="border_color_pass" placeholder="Enter your Password" [(ngModel)]="user.password" (keyup)="valPassword(user.password)" required/>
       </div>
           <div class="input-group">
             <button id="login" type="button" class="bt btn-primary btn-block btn-lg" [attr.disabled]="(!jePovezava() || login_btn_d)?true:null" (click)="login()" >Log in</button>
             <!--" [disabled]="!jePovezava()"-->
          </div>
          <div class="form-group">
             <p>Need an account? <a (click)="redirectToRegister()">Register now!</a></p>
          </div>
    </form>
 </div>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="err_msg">
  {{err_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

