<main class="spacing-bottom unsuccessful-order m-1">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Purchase unsuccessful!</h4>
        <p>Something went wrong while purchasing movie items.</p>
        <hr>
        <p class="mb-0">By clicking on Back to Payment you will be redirected to payment form.</p>
    </div>
    <a href="payment.html" ><button type="button" class="btn btn-primary float-right spacing-bottom spacing-button">Back to Payment</button></a>
</main>
