 <div class="container">
     <div class="main-login main-center">
        <form id="register-form" class="form-signin">
           <div class="color-slova">
              <h2 class="card-title mt-2 text-center">Change password</h2>
           </div>
           <div class="input-group flex-nowrap">
              <div class="input-group-prepand">
                 <span class="input-group-text"><i class="fas fa-key fa" aria-hidden="true"></i></span>
              </div>
              <input input id="passwordC" type="password" class="form-control" name="passwordC" placeholder="Current Password" [style.borderColor]="border_color_passwordC" [(ngModel)]="userData.passwordC" (keyup)="valPasswordC(userData.passwordC)" maxlength="30" required/>
           </div>
           <div class="input-group flex-nowrap">
              <div class="input-group-prepand">
                 <span class="input-group-text"><i class="fas fa-key fa" aria-hidden="true"></i></span>
              </div>
              <input  id="newPasswordC" type="password" class="form-control" name="newPasswordC" placeholder="Enter new Password" [style.borderColor]="border_color_newpasswordC"  [(ngModel)]="userData.newPasswordC" (keyup)="valNewPasswordC(userData.newPasswordC)" maxlength="30" required/>
           </div>
           <div class="input-group">
               <div class="input-group-prepand">
                     <span class="input-group-text"><i class="fas fa-key fa" aria-hidden="true"></i></span>
                </div>
             <input type="password" class="form-control" name="confirmC" id="confirmC"  placeholder="Repeat  Password" [style.borderColor]="border_color_confirmC"   [(ngModel)]="userData.confirmC" (keyup)="valConfirmC(userData.confirmC)" required/>
            </div>
           <div id ="login-btn-block" class="input-group flex-nowrap">
              <button type="button" (click) = "changePassword()" class="btn btn-primary btn-block btn-lg" id= "changePassword" [attr.disabled]="change_btn_d?true:null"   disabled>Save changes</button>
           </div>
        </form>
     </div>
 </div>
 <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="alrt_msg">
   {{alrt_msg}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="err_msg">
   {{err_msg}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="err_msg_confirm">
   {{err_msg_confirm}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="err_msg_old">
   {{err_msg_old}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>

