 <div class="container">
     <div class="main-login main-center">
        <form id="register-form" class="form-signin" action="" method="POST">
           <div class="color-slova">
              <h2 class="card-title mt-2 text-center">{{title}}</h2>
           </div>
           <div class="input-group flex-nowrap">
              <div class="input-group-prepand">
                 <span class="input-group-text"><i class="fas fa-key fa" aria-hidden="true"></i></span>
              </div>
              <input input id="password" type="password" class="form-control" name="password" placeholder="Current Password" maxlength="30" required/>
           </div>
           <div class="input-group flex-nowrap">
              <div class="input-group-prepand">
                 <span class="input-group-text"><i class="fas fa-key fa" aria-hidden="true"></i></span>
              </div>
              <input  id="newPassword" type="password" class="form-control" name="newPassword" placeholder="Enter new Password" maxlength="30" required/>
           </div>
           <div class="input-group">
               <div class="input-group-prepand">
                     <span class="input-group-text"><i class="fas fa-key fa" aria-hidden="true"></i></span>
                </div>
             <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Repeat  Password" required/>
            </div>
           <div id ="login-btn-block" class="input-group flex-nowrap">
              <button type="submit" class="btn btn-primary btn-block btn-lg" id= "changePassword" disabled>Save changes</button>
           </div>
        </form>
     </div>
     {{# if msg }}
         <div class="alert alert-success alert-dismissible fade show" role="alert">
           {{msg}} <!--Password successfully changed.-->
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
        </div>
    {{/if}}
    
    
      <script src= "javascripts/validationChangePassword.js"></script>