 <div class="container">
     <div class="main-login main-center">
        <form id="register-form" class="form-signin" action="" method="POST">
           <div class="color-slova">
              <h2 class="card-title mt-2 text-center">{{title}}</h2>
           </div>
           <div class="input-group flex-nowrap">
              <div class="input-group-prepand">
                 <span class="input-group-text"><i class="fas fa-at fa" aria-hidden="true"></i></span>
              </div>
              <input input id="email" type="email" class="form-control" name="email" placeholder="Enter your Email" maxlength="30" required/>
           </div>
           <div class="form-group" id="resetButton">
              <button id= "forgotPassword" class="btn btn-primary btn-block my-1" type="submit" disabled>Send me an email</button>
           </div>
           <div class="form-group">
              <p>Didn't recieve an email? <a href="">Send again</a></p>
           </div>
        </form>
     </div>
     {{# if msg }}
         <div class="alert alert-warning alert-dismissible fade show alertm20" role="alert">
           {{msg}} <!--Please check your email for confirmation link-->
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
        </div>
    {{/if}}
</div>

      <script src= "javascripts/validationForgotPassword.js"></script>