<div class="color-slova">
      <h2 class="card-title mt-2 text-center">Top selling DVDs</h2>
   </div>
   <div id="piechart"></div>
 <br>
 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script type="text/javascript" src="javascripts/chart.js"></script>