<main class="spacing-bottom unsuccessful-order m-1">


    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Purchase successful!</h4>
        <p>Aww yeah, you successfully purchased your favorite movies.</p>
        <hr>
        <p class="mb-0">By clicking on Payment Confirmation you will receive your digital payment confirmation.</p>

    </div>
    <a (click) ="download()"><button type="button" class="btn btn-success float-right spacing-button"> Payment Confirmation </button></a>

</main>
